# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
      env:
        DOTNET_INSTALL_DIR: ${{ github.workspace }}\dotnet-sdk
        
    - name: Restore & Build
      run: |
           dotnet restore
           dotnet build --no-restore
           
    - name: Publish Artifacts
      run: dotnet publish -c Release -o ./output
    
    - name: Upload for Deploy
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-app 
        path: ./output

  deploy:
    runs-on: self-hosted
    needs: build
    if: github.event_name == 'push'
    steps:
      - name: "Deploying"
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app
          path: C:\my-app-location
          
      - name: "Start Application"
        shell: powershell
        run: |
             Stop-Process -Name "DocSpider.API" -ErrorAction SilentlyContinue    
             $action = New-ScheduledTaskAction -Execute "C:\my-app-location\DocSpider.API.exe" -WorkingDirectory "C:\my-app-location"
             $trigger = New-ScheduledTaskTrigger -Once -At (Get-Date)
             Register-ScheduledTask -TaskName "DeployDocSpider" -Action $action -Trigger $trigger -Force
             Start-ScheduledTask -TaskName "DeployDocSpider"
    

